#Make sure we have azure-iothub-device-client with version 1.4.0 for libboost-python1.55.0
azure-iothub-device-client==1.4.0
bluepy==1.1.4
futures
enum34==1.1.6
blue-st-sdk-package==1.0.1
edge-st-sdk-package==1.0.8
requests
pytz
